.Background {
  background-color: black;
  background-size: cover;
}
.JohannaJean {
  color: white;
  font-weight: lighter;
  font-size: 120px;
  text-align: center;
}

.Agency {
  color: white;
  font-weight: 100;
  font-size: 50px;
  margin-bottom: 15px;
}
hr {
  width: 25%;
}

.ComingSoonText {
  color: #147588;
  display: inline-flex;
  align-items: flex-end;
}

.comingsoon {
  font-size: 65px;
  margin: 75px 25px 10px 5px;
}
@media (max-width: 767px) {
  .JohannaJean {
    margin-top: 280px;
    font-size: 55px;
  }
  .Agency {
    font-size: 15px;
  }
  .comingsoon {
    font-size: 25px;
    margin: 85px 10px 150px 0px;
  }
}
