html {
  background-color: #147588;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: "Nanum Myeongjo", serif;
  -webkit-font-smoothing: serif;
  -moz-osx-font-smoothing: grayscale;
}
