@import-normalize;

html,
body {
  background-color: black;
  height: 100%;
  overflow: hidden;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: serif;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
